@use "../../variables.scss";

.living-example {
  margin: 0 auto;
  padding: 25px 20px 40px;
  background-color: variables.$living-example-background-color;

  @media (min-width: variables.$tablet-width) {
    padding: 43px 30px 100px 31px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 110px 75px;
    display: flex;
    justify-content: space-between;
  }
}

.living-example__container {
  @media (min-width: variables.$desktop-width) {
    max-width: 436px;
    display: flex;
    flex-direction: column;
  }
}

.living-example__title {
  margin: 0 0 40px;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: variables.$text-color-2;
}

.living-example__text {
  margin: 0 0 20px;
  font-family: variables.$main-font-2;
}

.living-example__stats-wrapper {
  max-width: 124px;

  @media (min-width: variables.$tablet-width) {
    max-width: 162px;
  }
}

.living-example__stats-list {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    max-width: fit-content;
    justify-content: flex-start;
    column-gap: 42px;
  }
}

.living-example__inner {
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    display: block;
  }
}

.living-example__stats-number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: variables.$text-color-2;
}

.living-example__stats-description {
  margin: 0;
  font-family: variables.$main-font-2;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.living-example__subheading {
  margin: 0 auto;
  max-width: fit-content;
  font-size: 14px;
  line-height: 20px;
  color: variables.$text-color-2;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    max-width: 175px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: fit-content;
  }
}
