@use "../../variables.scss";

.series-overview {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 18px;
  background-color: variables.$main-color-3;
}

.series-overview__title {
  max-width: fit-content;
  margin: 0 auto 29px 91px;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: variables.$text-color-2;
  text-transform: uppercase;
  text-align: center;
}

.series-overview__text {
  margin: 0 0 10px;
  padding: 0 33px 0 20px;
  font-family: variables.$main-font-2;

  &:last-of-type {
    margin-bottom: 38px;
  }
}

.series-overview__link {
  margin: 0 0 0 19px;
  text-decoration: none;
}

.series-overview__link-text {
  font-size: 16px;
  line-height: 16px;
  color: variables.$text-color-2;
  text-align: center;
  text-transform: uppercase;
}
