@use "../variables.scss";

.additional-product {
  margin: 0;
  padding: 13px 0 18px;
  border-top: 1px solid variables.$extra-color-2;

  &:last-of-type {
    border-bottom: 1px solid variables.$extra-color-2;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 25px 37px 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
    border: 1px solid variables.$extra-color-2;
    border-bottom: none;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 896px;
    padding: 14px 0 16px;
    align-items: center;
    border: none;
    border-top: 1px solid variables.$extra-color-2;
  }
}

.additional-product__title {
  margin: 0 0 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: variables.$text-color-4;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: auto;
  }
}

.additional-product__text {
  margin: 0;
  font-family: variables.$main-font-2;
  line-height: 14px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 42px;
  }
}

.additional-product__description-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: variables.$tablet-width) {
    transform: translate(-2px, 4px);
    margin: 0;
    justify-content: flex-end;
    column-gap: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 40px;
    min-width: 32%;
    justify-content: space-between;
  }
}

.additional-product__button {
  padding: 10px 20px;
  display: block;
  width: 100%;

  @media (min-width: variables.$desktop-width) {
    width: 244px;
  }
}
