@use "../variables.scss";

.additional-product {
  margin: 0;
  padding: 13px 0 18px;
  border-top: 1px solid variables.$extra-color-2;

  @media (min-width: variables.$tablet-width) {
    padding: 24px 37px 27px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 26px;
    border: 1px solid variables.$extra-color-2;
    border-bottom: none;
  }

  @media (min-width: variables.$desktop-width) {
    width: 895px;
    padding: 14px 0 17px;
    align-items: flex-start;
    border: none;
    border-top: 1px solid variables.$extra-color-2;
  }

  &:last-of-type {
    border-bottom: 1px solid variables.$extra-color-2;

    @media (min-width: variables.$tablet-width) {
      padding: 25px 37px 27px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 14px 0 17px;
    }
  }

  &:nth-child(2) {
    @media (min-width: variables.$tablet-width) {
      padding: 25px 37px 28px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 14px 0 16px;
    }
  }
}

.additional-product__title {
  margin: 0 0 13px;
  max-width: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: variables.$text-color-4;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    transform: translateY(2px);
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 180px;
    padding-top: 8px;
    margin-right: auto;
  }
}

.additional-product__text {
  margin: 0;
  max-width: 160px;
  font-family: variables.$main-font-2;
  line-height: 14px;
  word-break: break-word;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    transform: translate(2px, 0);
    padding-top: 10px;
    min-width: 42px;
    max-width: 160px;
  }

  &--price {
    max-width: 60px;

    @media (min-width: variables.$tablet-width) {
      transform: translateY(-1px);
    }

    @media (min-width: variables.$desktop-width) {
      transform: translate(1px, 0);
      max-width: 42px;
    }
  }

  &--repositioned-1 {
    @media (min-width: variables.$tablet-width) {
      transform: translate(-10px, -1px);
    }

    @media (min-width: variables.$desktop-width) {
      transform: translate(1px, 0);
    }
  }

  &--repositioned-2 {
    @media (min-width: variables.$tablet-width) {
      transform: translateY(-2px);
    }

    @media (min-width: variables.$desktop-width) {
      transform: translate(1px, 0);
    }
  }

  &--repositioned-3 {
    @media (min-width: variables.$tablet-width) {
      transform: translateX(-2px);
    }

    @media (min-width: variables.$desktop-width) {
      transform: translate(2px, 0);
    }
  }
}

.additional-product__description-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: variables.$tablet-width) {
    transform: translate(-2px, 4px);
    margin: 0;
    justify-content: flex-end;
    column-gap: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 40px;
    min-width: 32%;
    width: 32%;
    justify-content: space-between;
  }
}

.additional-product__button {
  padding: 10px 20px;
  display: block;
  width: 100%;

  @media (min-width: variables.$desktop-width) {
    transform: translateY(1px);
    width: 244px;
  }
}
