@use "../variables.scss";

.button {
  margin: 0;
  font-family: variables.$main-font-1;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: variables.$main-color-2;
  color: variables.$main-color-1;
  text-decoration: none;
  text-transform: uppercase;
}
