@use "../variables.scss";

.company-logo {
  padding-right: 40px;
  max-width: fit-content;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.company-logo__image {
  @media (min-width: variables.$tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 202px;
    height: 59px;
  }
}
