@use "../variables.scss";

.contacts {
  position: relative;
  padding: 0;
  overflow: hidden;

  &--alter-background {
    background-color: variables.$main-color-3;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.contacts__container {
  position: relative;
  overflow: visible;
}

.contacts__wrapper {
  padding: 26px 0 26px;
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    padding: 56px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    height: 198px;
    margin: 0;
    padding: 56px 60px 56px 80px;
    background-color: variables.$main-color-1;
    z-index: 1;
  }
}

.contacts__title {
  margin: 0;
  min-width: 139px;
  max-width: 164px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: variables.$text-color-3;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  margin: 0;
  width: fit-content;
  max-width: 160px;
  font-family: variables.$main-font-2;
  font-size: 14px;
  line-height: 20px;
  text-align: start;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}

.contacts__map {
  margin: 0 0 0 -20px;
  display: block;
  width: 100vw;
  height: 400px;
  border: none;

  @media (min-width: variables.$tablet-width) {
    margin-left: -30px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: calc(-50vw + 50%);
    width: calc(100vw);
  }
}
