@use "../variables.scss";

.contacts {
  margin: 0 auto;
  padding: 26px 0 0;

  &--alter-background {
    background-color: variables.$main-color-3;
  }
}

.contacts__wrapper {
  margin: 0 20px 26px;
}

.contacts__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: variables.$text-color-3;
  text-transform: uppercase;
}

.contacts__text {
  margin: 0;
  font-family: variables.$main-font-2;
  font-size: 14px;
  line-height: 20px;
}
