@use "../variables.scss";

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-height: 100%;
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 110px;
  }
}
