@use "../variables.scss";

.developer {
  margin: 0;
  padding: 20px 0;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.developer__link {
  text-decoration: none;
}

.developer__text {
  font-family: variables.$main-font-2;
  font-size: 16px;
  line-height: 19px;
  color: variables.$text-color-1;
}
