@use "../variables.scss";

.developer {
  @media (min-width: variables.$tablet-width) {
    min-width: 168px;
  }
}

.developer__link {
  padding: 5px 0 0;
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.developer__text {
  max-width: 140px;
  font-family: variables.$main-font-2;
  font-size: 16px;
  line-height: 19px;
  color: variables.$text-color-1;

  @media (min-width: variables.$tablet-width) {
    transform: translateY(1px);
  }
}

.developer__icon {
  flex-shrink: 0;
  color: variables.$button-icon-color-2;
  transition: all 0.2s ease;
}

.developer__link:hover .developer__icon {
  color: variables.$main-color-2;
}

.developer__link:focus-visible .developer__icon {
  color: variables.$main-color-2;
}

.developer__link:active .developer__icon {
  color: variables.$main-color-2;
}
