@use "../variables.scss";

.gift {
  width: 100%;
  height: 290px;
  margin: 0 auto;
  padding: 59px 0 43px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$main-color-2;
  background-image: url("../../img/catalog/gift-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    width: 78px;
    height: 80px;
    content: "";
    background-image: url("../../img/catalog/icon-gift-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: variables.$tablet-width) {
      background-image: url("../../img/catalog/icon-gift-tablet.svg");
      width: 80px;
      height: 82px;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 57px 124px 61px 77px;
    flex-direction: row;
  }

  @media (min-width: variables.$desktop-width) {
    width: 245px;
    padding: 56px 0 42px;
    margin: 0;
    flex-direction: column;
  }
}

.gift__text {
  margin: 0;
  max-width: 162px;
  font-family: variables.$main-font-2;
  font-size: 16px;
  line-height: 20px;
  color: variables.$main-color-1;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    text-align: start;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: center;
  }
}
