@use "../mixin.scss" as *;
@use "../variables.scss";

.main-promo {
  position: relative;
  margin: 0;
  padding: 27px 0 0;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 302px;
    background-color: variables.$main-color-2;
    background-image: url("../../img/main/promo-background-mobile-1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/main/promo-background-mobile-2x.jpg");
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 58px 0 0;
    min-height: 868px;

    &::before {
      display: none;
    }
  }

  @media (min-width: variables.$desktop-width) {
    position: static;
    padding: 108px 0 0;
    min-height: 578px;

    &::before {
      display: block;
      width: 50%;
      min-height: 694px;
      background-image: url("../../img/main/promo-background-desktop-1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/main/promo-background-desktop-2x.jpg");
      }
    }
  }
}


.main-promo__title {
  @include page-heading-style;
  margin: 0 auto 25px;
  height: fit-content;
  color: variables.$main-color-1;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    @include heading-tablet;
    transform: translateX(-2px);
    max-width: 420px;
    margin: 0 0 41px;
    color: variables.$text-color-2;
    text-align: start;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1;
  }
}

.main-promo__text {
  margin: 0 0 10px;
  height: fit-content;
  line-height: 14px;
  color: variables.$main-color-1;
  text-align: center;
  text-transform: uppercase;

  &:last-of-type {
    margin-bottom: 29px;
  }

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 30px;
    max-width: 420px;
    font-size: 20px;
    line-height: 20px;
    color: variables.$text-color-2;
    text-align: start;

    &:last-of-type {
      margin-bottom: 49px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1;
  }
}

.main-promo__image-container {
  margin: 0 auto;
  width: fit-content;
  background: transparent;

  @media (min-width: variables.$tablet-width) {
    position: absolute;
    top: 259px;
    left: 30px;
    z-index: -1;
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
    top: 0;
    left: 0;
    grid-area: i;
    margin: -82px 0 0 -52px;
  }
}

.main-promo__image {
  @media (min-width: variables.$tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.main-promo__button {
  width: 100%;
  height: fit-content;
  padding: 11px;
  display: block;
  font-size: 14px;
  line-height: 18px;


  @media (min-width: variables.$tablet-width) {
    padding: 18px 26px;
    max-width: 244px;
    font-size: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1;
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.main-promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    align-items: start;
    padding: 0 0 0 90px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 0 0 80px;
    display: grid;
    grid-template-areas: ". i" ". i" ". i" ". i" ". i" ". i" ". i" ". i";
    grid-auto-rows: min-content;
    grid-template-columns: auto 1fr;
  }
}
