@use "../variables.scss";

.page-footer {
  margin: 0;
  padding: 40px 0;
  background-color: variables.$main-color-3;

  @media (min-width: variables.$tablet-width) {
    padding: 58px 0 55px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 66px 0;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__section {
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;

  &:last-of-type {
    margin: 0;
    padding: 0;
    border: none;
  }

  @media (min-width: variables.$tablet-width) {
    transform: translateX(1px);
    max-width: 33%;
    margin: 0;
    padding: 0;
    width: fit-content;
    border: none;
  }
}

.page-footer__link {
  margin: 0;
  padding: 0 0 4px;
  width: fit-content;
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.page-footer__logo {
  color: variables.$text-color-3;
  transition: all 0.2s ease;

  @media (min-width: variables.$tablet-width) {
    width: 143px;
    height: 27px;
  }
}

.page-footer__link:hover .page-footer__logo {
  color: #3e3e3e;
}

.page-footer__link:focus-visible .page-footer__logo {
  color: #3e3e3e;
}

.page-footer__link:active .page-footer__logo {
  color: #6b6b6b;
}
