@use "../variables.scss";

.page-header {
  position: relative;
  max-height: fit-content;
  z-index: 3;
  margin: 0;
  padding: 10px 0 0;
  overflow-x: clip;
  overflow-y: visible;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: calc(100% - 1px);
    background-color: variables.$main-color-1;
    content: "";
  }

  &--nojs::before {
    display: none;
  }

  &::after {
    position: absolute;
    z-index: 3;
    top: calc(100% - 1px);
    left: -20px;
    width: calc(100vw + 20px);
    height: 1px;
    background-color: variables.$extra-color-1;
    content: "";
  }

  &--index {
    &::after {
      display: none;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding: 53px 0 0;
  }
}

.page-header__container {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__inner {
  position: relative;
  z-index: 3;
}

.page-header__logo {
  display: flex;
  margin-bottom: 14px;
  max-width: fit-content;

  @media (min-width: variables.$tablet-width) {
    transform: translateX(1px);
    margin-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    transform: translate(0);
  }
}
