@use "../variables.scss";

.page-footer {
  margin: 0;
  padding: 40px 0;
  background-color: variables.$main-color-3;

  @media (min-width: variables.$tablet-width) {
    padding: 55px 0;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__section {
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;

  &:last-of-type {
    margin: 0;
    padding: 0;
    border: none;
  }

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    padding: 0;
    width: fit-content;
    border: none;
  }
}

.page-footer__link {
  margin: 0;
  padding: 0 0 4px;
  width: fit-content;
  display: flex;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.page-footer__logo {
  color: variables.$text-color-3;
}

.page-footer__link:hover .page-footer__logo {
  color: #3e3e3e;
}

.page-footer__link:active .page-footer__logo {
  color: #6b6b6b;
}
