@use "../variables.scss";

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 0 22px;
    transform: translateY(-1px);
  }
}

.social__link {
  padding: 4px 0;
  display: flex;
  color: variables.$button-icon-color-2;
  text-decoration: none;

  @media (min-width: variables.$tablet-width) {
    padding: 3px 0 0;
  }
}

.social__icon {
  transition: all 0.2s ease;
}

.social__link:hover .social__icon {
  color: variables.$main-color-2;
}

.social__link:active .social__icon {
  color: variables.$main-color-2;
  opacity: 0.3;
}
