$text-color-4: #222222;

.additional-product {
  margin: 0;
  padding: 13px 0 19px;
}

.additional-product__title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $text-color-4;
  text-transform: uppercase;
}

.additional-product__text {
  margin: 0;
  font-family: "Lato", "Aerial", sans-serif;
  line-height: 14px;
}

.additional-product__description-container {
  margin-bottom: 15px;
}
