@use "../../variables.scss";

.gift {
  width: 100%;
  height: 290px;
  margin: 0 auto;
  background-color: variables.$main-color-2;
  background-image: url("../img/catalog/gift-background.jpg");
  background-size: cover;

  @media (min-width: variables.$desktop-width) {
    width: 245px;
    margin: 0;
  }
}

.gift__text {
  max-width: 162px;
  margin: 0 auto;
  font-family: variables.$main-font-2;
  font-size: 16px;
  line-height: 20px;
  color: variables.$main-color-1;
  text-align: center;
}
