@use "../../variables.scss";

.product-card {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 25px;
}

.product-card__wrapper {
  margin-bottom: 13px;
}

.product-card__title {
  margin: 0 0 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: variables.$text-color-4;
  text-transform: uppercase;

  &--more {
    margin-bottom: 8px;
    color: variables.$text-color-3;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__table {
  margin: 0;
}

.product-card__item {
  margin: 0;
  padding: 0;
  font-family: variables.$main-font-2;
  font-size: 12px;
  line-height: 16px;
}

.product-card__text {
  margin: 0 0 21px;
  font-family: variables.$main-font-2;
  font-size: 12px;
  line-height: 16px;
}

.product-card__button--more {
  background-color: variables.$main-color-3;
  color: variables.$text-color-1;
}
