$main-color-1: #ffffff;
$main-color-2: #68b738;
$main-color-3: #f2f2f2;
$text-color-1: #444444;
$text-color-2: #000000;
$text-color-3: #111111;
$text-color-4: #222222;
$living-example-background-color: #eaeaea;
$main-font-1: "Oswald", "Arial", sans-serif;
$main-font-2: "Lato", "Arial", sans-serif;
