$main-color-1: #ffffff;
$main-color-2: #68b738;
$main-color-3: #f2f2f2;
$text-color-1: #444444;
$text-color-2: #000000;
$text-color-3: #111111;
$text-color-4: #222222;
$extra-color-1: #e6e6e6;
$extra-color-2: #cdcdcd;
$extra-color-3: #e7e7e7;
$button-icon-color-1: #000000;
$button-icon-color-2: #666666;
$button-active-color-1: #5eaa2f;
$living-example-background-color: #eaeaea;
$main-font-1: "Oswald", "Arial", sans-serif;
$main-font-2: "Lato", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
